[submodule "dailyfeed-image"]
	path = dailyfeed-image
	url = https://github.com/alpha3002025/dailyfeed-image.git
[submodule "dailyfeed-code"]
	path = dailyfeed-code
	url = https://github.com/alpha3002025/dailyfeed-code.git
[submodule "dailyfeed-infrastructure"]
	path = dailyfeed-infrastructure
	url = https://github.com/alpha3002025/dailyfeed-infrastructure.git
[submodule "dailyfeed-app-helm"]
	path = dailyfeed-app-helm
	url = https://github.com/alpha3002025/dailyfeed-app-helm.git
