[submodule "dailyfeed-image"]
	path = dailyfeed-image
	url = https://github.com/alpha3002025/dailyfeed-image.git
[submodule "dailyfeed-code"]
	path = dailyfeed-code
	url = https://github.com/alpha3002025/dailyfeed-code.git
